body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:rgb(210, 239, 247)
}

#queryInput, button {
    margin: 5px;
    padding: 5px;
}

#results img {
    width: 150px;
    height: 150px;
    margin: 5px;
}
